In [1]:
# 코드를 실행하기 위한 라이브러리 임포트
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
import random
import os
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from sklearn.metrics import mean_squared_error
from tensorflow.keras.callbacks import EarlyStopping

In [2]:
# 시드 값 설정 : 재현성을 위해 시드 값을 42로 설정
seed_value = 42
os.environ['PYTHONHASHSEED'] = str(seed_value)
random.seed(seed_value)
np.random.seed(seed_value)
tf.random.set_seed(seed_value)

In [4]:
# 데이터 불러오기
df = pd.read_csv('btc_1d_data_2018_to_2025.csv')

In [5]:
df

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,2018-01-01 00:00:00.000000 UTC,13715.65,13818.55,12750.00,13380.00,8609.915844,2018-01-01 23:59:59.999000 UTC,1.147997e+08,105595,3961.938946,5.280975e+07,0
1,2018-01-02 00:00:00.000000 UTC,13382.16,15473.49,12890.02,14675.11,20078.092111,2018-01-02 23:59:59.999000 UTC,2.797171e+08,177728,11346.326739,1.580801e+08,0
2,2018-01-03 00:00:00.000000 UTC,14690.00,15307.56,14150.00,14919.51,15905.667639,2018-01-03 23:59:59.999000 UTC,2.361169e+08,162787,8994.953566,1.335873e+08,0
3,2018-01-04 00:00:00.000000 UTC,14919.51,15280.00,13918.04,15059.54,21329.649574,2018-01-04 23:59:59.999000 UTC,3.127816e+08,170310,12680.812951,1.861168e+08,0
4,2018-01-05 00:00:00.000000 UTC,15059.56,17176.24,14600.00,16960.39,23251.491125,2018-01-05 23:59:59.999000 UTC,3.693220e+08,192969,13346.622293,2.118299e+08,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00.000000 UTC,115438.06,115666.68,115196.00,115601.93,1193.357180,2025-08-24 23:59:59.999000 UTC,1.377137e+08,129125,665.360720,7.677453e+07,0
2793,2025-08-25 00:00:00.000000 UTC,113493.59,113516.16,112159.00,113199.99,1458.788830,2025-08-25 23:59:59.999000 UTC,1.646539e+08,406224,697.641960,7.872995e+07,0
2794,2025-08-26 00:00:00.000000 UTC,110111.98,110111.98,108666.66,109856.01,3231.354180,2025-08-26 23:59:59.999000 UTC,3.535917e+08,792879,1526.406610,1.670561e+08,0
2795,2025-08-27 00:00:00.000000 UTC,111763.22,111825.16,111092.80,111295.21,1064.992840,2025-08-27 23:59:59.999000 UTC,1.187093e+08,184389,432.305860,4.819485e+07,0
2796,2025-08-28 00:00:00.000000 UTC,111262.01,111714.28,110862.42,111652.47,651.685180,2025-08-28 23:59:59.999000 UTC,7.255099e+07,218066,328.710970,3.660317e+07,0

In [ ]:
# 시간 형식 변환
train['Open time'] = pd.to_datetime(train['Time'])
train.set_index('Time', inplace=True)